body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
  color: #334155;
}

header {
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 100px 20px;
  text-align: center;
  background: #e2e8f0;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.box {
  background: white;
  padding: 20px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
}

.content {
  padding: 40px;
}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
}
.box2{
  background: dimgray;
  color: deepskyblue;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
.box4{
  text-align: center;
  color: #000;
  
}
u{
  color: red;
}